Traulson Final.rtf
{\rtf1\ansi\ansicpg1252\cocoartf1561\cocoasubrtf200
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
{\*\expandedcolortbl;;}
\margl1440\margr1440\vieww10800\viewh8400\viewkind0
\pard\tx720\tx1440\tx2160\tx2880\tx3600\tx4320\tx5040\tx5760\tx6480\tx7200\tx7920\tx8640\pardirnatural\partightenfactor0

\f0\fs24 \cf0 [\{"id":"481f6c6c.4d24ec","type":"sensor-ds18b20","z":"7599f000.3944c8","name":"Freezer","sensorid":"28-0316b0b920ff","timer":"1","repeat":true,"x":100,"y":160,"wires":[["66666ae7.e40ec4"]]\},\{"id":"66666ae7.e40ec4","type":"unit-converter","z":"7599f000.3944c8","category":"temperature","inputUnit":"C","outputUnit":"F","inputField":"payload","outputField":"payload","inputFieldType":"msg","outputFieldType":"msg","name":"","x":280,"y":160,"wires":[["9cfef23b.d0de48"]]\},\{"id":"f944289b.201be","type":"ui_gauge","z":"7599f000.3944c8","name":"","group":"64f3d68b.ae851","order":0,"width":0,"height":0,"gtype":"gage","title":"","label":"units","format":"\{\{value\}\}","min":"-10","max":"15","colors":["#00B500","#E6E600","#CA3838"],"seg1":"","seg2":"","x":590,"y":160,"wires":[]\},\{"id":"20f42648.afd08a","type":"ui_chart","z":"7599f000.3944c8","name":"","group":"64f3d68b.ae851","order":0,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-10","ymax":"10","removeOlder":"1080","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1F77B4","#AEC7E8","#FF7F0E","#2CA02C","#98DF8A","#D62728","#FF9896","#9467BD","#C5B0D5"],"useOldStyle":false,"x":590,"y":200,"wires":[[],[]]\},\{"id":"9cfef23b.d0de48","type":"smooth","z":"7599f000.3944c8","name":"","property":"payload","action":"mean","count":"4","round":"2","mult":"single","x":440,"y":160,"wires":[["20f42648.afd08a","f944289b.201be","4ac3fe53.deba4","1f3455c0.1b15d2"]]\},\{"id":"1dbfff1e.05b1f1","type":"sensor-ds18b20","z":"7599f000.3944c8","name":"Refrigerator","sensorid":"28-0417720176ff","timer":"1","repeat":true,"x":110,"y":280,"wires":[["cfb3c9a2.942e"]]\},\{"id":"cfb3c9a2.942e","type":"unit-converter","z":"7599f000.3944c8","category":"temperature","inputUnit":"C","outputUnit":"F","inputField":"payload","outputField":"payload","inputFieldType":"msg","outputFieldType":"msg","name":"","x":280,"y":280,"wires":[["78c6afb2.e9c7e8"]]\},\{"id":"276da6e8.e03c12","type":"ui_gauge","z":"7599f000.3944c8","name":"","group":"a56bad14.8f4ff","order":0,"width":0,"height":0,"gtype":"gage","title":"","label":"units","format":"\{\{value\}\}","min":"35","max":"50","colors":["#00B500","#E6E600","#CA3838"],"seg1":"","seg2":"","x":590,"y":280,"wires":[]\},\{"id":"86319b6f.9f9308","type":"ui_chart","z":"7599f000.3944c8","name":"","group":"a56bad14.8f4ff","order":0,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"35","ymax":"55","removeOlder":"100","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1F77B4","#AEC7E8","#FF7F0E","#2CA02C","#98DF8A","#D62728","#FF9896","#9467BD","#C5B0D5"],"useOldStyle":false,"x":590,"y":320,"wires":[[],[]]\},\{"id":"78c6afb2.e9c7e8","type":"smooth","z":"7599f000.3944c8","name":"","property":"payload","action":"mean","count":"3","round":"2","mult":"single","x":440,"y":280,"wires":[["86319b6f.9f9308","276da6e8.e03c12","e4f13d9f.6da8f8"]]\},\{"id":"4ac3fe53.deba4","type":"function","z":"7599f000.3944c8","name":"Freezer Control ","func":"const fHigh =2\\nconst fLow = -1\\nlet currentTemp = msg.payload\\n\\nif (currentTemp >= fHigh) \{\\n    return \{payload: 0\}\\n\} else if (currentTemp <= fLow) \{\\n    return \{payload: 1\}\\n\}\\n","outputs":1,"noerr":0,"x":620,"y":120,"wires":[["fa7aaf6f.c2a47"]]\},\{"id":"fa7aaf6f.c2a47","type":"rpi-gpio out","z":"7599f000.3944c8","name":"Freezer Relay","pin":"15","set":true,"level":"0","freq":"","out":"out","x":840,"y":120,"wires":[],"inputLabels":["number"]\},\{"id":"e4f13d9f.6da8f8","type":"function","z":"7599f000.3944c8","name":"Refrigerator Control ","func":"const fHigh =44\\nconst fLow = 41\\nlet currentTemp = msg.payload\\n\\nif (currentTemp >= fHigh) \{\\n    return \{payload: 0\}\\n\} else if (currentTemp <= fLow) \{\\n    return \{payload: 1\}\\n\}","outputs":1,"noerr":0,"x":640,"y":240,"wires":[["bb664b8e.dbf538"]]\},\{"id":"bb664b8e.dbf538","type":"rpi-gpio out","z":"7599f000.3944c8","name":"Refrigerator Relay","pin":"12","set":true,"level":"0","freq":"","out":"out","x":850,"y":240,"wires":[],"inputLabels":["number"]\},\{"id":"fda89c0e.4e90b8","type":"sensor-ds18b20","z":"7599f000.3944c8","name":"Intake air","sensorid":"28-0516b07741ff","timer":"1","repeat":true,"x":100,"y":360,"wires":[["b828a970.5b90a"]]\},\{"id":"b828a970.5b90a","type":"unit-converter","z":"7599f000.3944c8","category":"temperature","inputUnit":"C","outputUnit":"F","inputField":"payload","outputField":"payload","inputFieldType":"msg","outputFieldType":"msg","name":"","x":280,"y":360,"wires":[["273e8694.4ea5ba"]]\},\{"id":"b0d25332.d570a","type":"ui_gauge","z":"7599f000.3944c8","name":"Intake air","group":"388db74d.df0ab8","order":0,"width":0,"height":0,"gtype":"gage","title":"","label":"units","format":"\{\{value\}\}","min":"75","max":"150","colors":["#00B500","#E6E600","#CA3838"],"seg1":"","seg2":"","x":600,"y":360,"wires":[]\},\{"id":"51b1a66a.58d64","type":"ui_chart","z":"7599f000.3944c8","name":"","group":"388db74d.df0ab8","order":0,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"40","ymax":"150","removeOlder":"1080","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1F77B4","#AEC7E8","#FF7F0E","#2CA02C","#98DF8A","#D62728","#FF9896","#9467BD","#C5B0D5"],"useOldStyle":false,"x":590,"y":400,"wires":[[],[]]\},\{"id":"273e8694.4ea5ba","type":"smooth","z":"7599f000.3944c8","name":"","property":"payload","action":"mean","count":"3","round":"2","mult":"single","x":440,"y":360,"wires":[["51b1a66a.58d64","b0d25332.d570a"]]\},\{"id":"64a8283e.8cbf38","type":"sensor-ds18b20","z":"7599f000.3944c8","name":"Exhaust Air","sensorid":"28-0516b08f41ff","timer":"1","repeat":true,"x":110,"y":440,"wires":[["9e5f2eed.4e74a8"]]\},\{"id":"9e5f2eed.4e74a8","type":"unit-converter","z":"7599f000.3944c8","category":"temperature","inputUnit":"C","outputUnit":"F","inputField":"payload","outputField":"payload","inputFieldType":"msg","outputFieldType":"msg","name":"","x":280,"y":440,"wires":[["2ba83ab8.b20126"]]\},\{"id":"2ba83ab8.b20126","type":"smooth","z":"7599f000.3944c8","name":"","property":"payload","action":"mean","count":"3","round":"2","mult":"single","x":440,"y":440,"wires":[["1dc091cb.da086e","cf0579d4.940f18"]]\},\{"id":"1dc091cb.da086e","type":"ui_gauge","z":"7599f000.3944c8","name":"","group":"c62898c0.95f73","order":0,"width":0,"height":0,"gtype":"gage","title":"","label":"units","format":"\{\{value\}\}","min":"75","max":"150","colors":["#00B500","#E6E600","#CA3838"],"seg1":"","seg2":"","x":590,"y":440,"wires":[]\},\{"id":"cf0579d4.940f18","type":"ui_chart","z":"7599f000.3944c8","name":"","group":"c62898c0.95f73","order":0,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"40","ymax":"150","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1F77B4","#AEC7E8","#FF7F0E","#2CA02C","#98DF8A","#D62728","#FF9896","#9467BD","#C5B0D5"],"useOldStyle":false,"x":590,"y":480,"wires":[[],[]]\},\{"id":"ac8cc827.84f8b","type":"rpi-gpio out","z":"7599f000.3944c8","name":"Door Open Buzzer","pin":"38","set":"","level":"0","freq":"","out":"out","x":850,"y":80,"wires":[]\},\{"id":"1f3455c0.1b15d2","type":"function","z":"7599f000.3944c8","name":"Door Buzzer","func":"const fHigh = 10\\nconst fLow = 9.85\\nlet currentTemp = msg.payload\\n\\nif (currentTemp >= fHigh) \{\\n    return \{payload: 0\}\\n\} else if (currentTemp <= fLow) \{\\n    return \{payload: 1\}\\n\}","outputs":1,"noerr":0,"x":610,"y":80,"wires":[["ac8cc827.84f8b"]]\},\{"id":"44c04fc0.89515","type":"rpi-gpio out","z":"7599f000.3944c8","name":"Ice Maker Heater Realy","pin":"13","set":"","level":"0","freq":"","out":"out","x":870,"y":520,"wires":[]\},\{"id":"8ab80a08.11a468","type":"rpi-gpio out","z":"7599f000.3944c8","name":"Future Relay","pin":"11","set":"","level":"0","freq":"","out":"out","x":830,"y":580,"wires":[]\},\{"id":"64f3d68b.ae851","type":"ui_group","z":"","name":"Freezer ","tab":"24191a88.b767be","disp":true,"width":"6","collapse":false\},\{"id":"a56bad14.8f4ff","type":"ui_group","z":"","name":"Refrigerator","tab":"24191a88.b767be","disp":true,"width":"6","collapse":false\},\{"id":"388db74d.df0ab8","type":"ui_group","z":"","name":"Intake Air","tab":"24191a88.b767be","disp":true,"width":"6","collapse":false\},\{"id":"c62898c0.95f73","type":"ui_group","z":"","name":"Exhaust Air","tab":"24191a88.b767be","disp":true,"width":"6","collapse":false\},\{"id":"24191a88.b767be","type":"ui_tab","z":"","name":"Home","icon":"dashboard"\}]}